<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>DeployTest</ProjectName>
  <SourceControl type="TFS">
    <TfsSourceControl>
      <ProjectItemSpec>$/DeployTest/SRC/DeployTest/DeployTest.csproj</ProjectItemSpec>
      <ProjectVersionSpec>LDeployToWAWS_20140108.2@$/DeployTest</ProjectVersionSpec>
    </TfsSourceControl>
  </SourceControl>
  <Build type="TeamBuild">
    <MSBuild>
      <BuildDefinition kind="informative, summary">DeployToWAWS</BuildDefinition>
      <BuildLabel kind="label">DeployToWAWS_20140108.2</BuildLabel>
      <BuildId kind="id">111e1257-3ea0-4d2c-8780-b6db84a31c32,vstfs:///Build/Build/27</BuildId>
      <BuildTimestamp kind="informative, summary">Wed, 08 Jan 2014 20:17:34 GMT</BuildTimestamp>
      <Configuration kind="informative">Debug</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>$/DeployTest/SRC/DeployTest.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>